.root {
    position: relative;
    width: 600px;
    height: 80px;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #7b7b7b52;
    
  }
  .home {
    color: #fff;
    font-size: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 30px;
    top: 20px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .skills {
    color: #fff;
    font-size: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 390.9879px;
    top: 20px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .about {
    color: #fff;
    font-size: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 487.4251px;
    top: 20px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  